# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\AHMAD SUTRIO\Tugas Kuliah\S2\Pemograman Lanjutan\Pemograman_Lanjutan_Algoritma\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
